* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  


    .acc{
    overflow: hidden;
    width: 100%;
  }
  .article{
    display: flex;
    background-color: white;
    min-width: 25em;
    flex-flow: column;
    box-shadow: 0px 0px 20px yellow;
    border-style: solid;
    max-width: 50px;
    margin: 50px;
  }
  main{
    display: flex;
    justify-content: center;
    background-color: black;
    color: black;
  }
  footer{
    background-color: rgb(0, 0, 0);
    color: black;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .btn btn-warning btn- bloc my-2{
    background-color: #00bcd4;
  }
  